body {
  font-family: Arial, sans-serif;
  max-width: 500px;
  margin: 50px auto;
}

input {
  padding: 8px;
  width: 70%;
}

button {
  padding: 8px;
  cursor: pointer;
  margin-left: auto;
}

li {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 8px;

}